body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.card-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-name {
    font-size: 24px;
    margin-bottom: 20px;
}

.job {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.job-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
}

.job-details {
    display: flex;
    align-items: center;
    
}

.job-check {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.job-description > textarea{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color : #323b4a;
}

.feedback{
    margin-left: 10%;
    border: 1px solid rgb(199, 198, 198);
    margin-bottom: 3px;
    border-radius: 10px;
}
.job-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-info{
   margin-top: 20px;
    width: 100%;
    

}
#job-description-textarea{
    min-width: 95%;
    max-width: 95%;
  

}

.feedbacks{
    margin-top: 20px;
    position: relative;
    left: 10%;
    margin-bottom: 20px;
    width: 85%;
    
}

.wrapper{
    
}

hr.feedback-divider {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

