
<div class="job-details">
    <div class="job-buttons">
        <button class="custom-icon-button" title="Add feedback">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNewFeedback()" fontIcon="add_circle_outline"></mat-icon>
        </button>
        <button class="custom-icon-button" title="Delete Job">
            <mat-icon aria-hidden="false" aria-label="Delete icon" (click)="deleteJob()" fontIcon="delete_forever"></mat-icon>
        </button>
    </div>
    
    
    <br>
    <div id="wrapper">
        <div class="job-info">
            <mat-checkbox [(ngModel)]="job.isDone" (change)="markJob()" style="border:none; outline: none;" class="example-margin">
                <div class="grow-wrap job-description"> 
                    <textarea id="job-description-textarea" cols="68" rows="1"   class="editable" type="text" [(ngModel)]="job.description" [formControl]="jobDescriptionControl"  onfocus="this.parentNode.dataset.replicatedValue = this.value" onInput="this.parentNode.dataset.replicatedValue = this.value"> </textarea>
                  </div>
                
            
            </mat-checkbox>
        </div>
        <hr class="feedback-divider">
        <div class="feedbacks" >
            <div class="feedback" *ngFor="let feedback of job.feedbacks">
                <app-feedback (deleteFeedbackEvent)="deleteFeedback($event)" [boardId]="boardId" [feedback]="feedback" ></app-feedback>
            </div>
        </div>
        
    
        
    </div>
    

</div>


