


<div class="card-details-dialog" [ngStyle]="{'border-color': data.card.color}">



<div class="grow-wrap card-details-title"> 
    <textarea id="card-name-textarea" type="text" [(ngModel)]="data.card.name" [formControl]="cardNameControl" class="editable " onfocus="this.parentNode.dataset.replicatedValue = this.value" onInput="this.parentNode.dataset.replicatedValue = this.value"> </textarea>
  </div>
<app-color-picker class="top-left" (changeCardColorEvent)="changeCardColor($event)" [color]="data.card.color"></app-color-picker>
<button class="top-right custom-icon-button-black" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAssignPerson()">
      <mat-icon>assignment_ind</mat-icon>
      <span>Assign Person</span>
    </button>
    <button mat-menu-item (click)="openAssignDate()">
      <mat-icon>timer</mat-icon>
      <span>Assign due date</span>
    </button>
  </mat-menu>


<button class="custom-icon-button" title="Delete card">
    <mat-icon mat-button mat-dialog-close aria-hidden="false" class="right " aria-label="Example home icon" (click)="deleteCard()" fontIcon="delete_forever"></mat-icon>
</button>

<hr class="card-title-hr mb-2">

    <div mat-dialog-content class="card-details">
        
        <div class="job" *ngFor="let job of data.card.jobs">
            
            <app-job (deleteJobEvent)="deleteJob($event)" [boardId]="boardId" [job]="job" [persons]="data.persons"></app-job>
            
        </div>
        <button class="custom-icon-button" title="Add Job">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="addNewJob()" fontIcon="add_circle_outline"></mat-icon>
        </button>
        
        

        <!-- Repeat the above 'job' structure for each job -->
    </div>

</div>
    

    
