<h2 mat-dialog-title>Select a Person</h2>
<mat-dialog-content>

  <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">

    <section *ngIf="!data.card.assignedPersonId; else assigned">
      <mat-chip-option *ngFor="let person of data.persons" color="primary" (selectionChange)="handleSelection($event, person)" >{{person.firstName}} {{person.lastName}} </mat-chip-option>
    </section>

    <ng-template #assigned>
      <section *ngFor="let person of data.persons" >
        <mat-chip-option *ngIf="person.id == data.card.assignedPersonId; else notHim"  (selectionChange)="handleSelection($event, person)" selected color="primary" >{{person.firstName}} {{person.lastName}}</mat-chip-option>
      

      <ng-template #notHim>
        <mat-chip-option color="primary" (selectionChange)="handleSelection($event, person)" > {{person.firstName}} {{person.lastName}} </mat-chip-option>
      </ng-template>
    </section>

    </ng-template>


    
  </mat-chip-listbox>



  
  
</mat-dialog-content>
