/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url(https://db.onlinewebfonts.com/c/22b044be38a057a10bf4b457c31a1729?family=TiemposText-Semibold);
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }


  .card-details-dialog {
    border-top: 5px solid;
     border-radius : 5px;
      border-color : attr(color);
  }



  .grow-wrap {
    display: grid;
  }
  .grow-wrap::after {
    content: attr(data-replicated-value) " ";
  
    white-space: pre-wrap;
  
    visibility: hidden;
  }
  .grow-wrap  > textarea {
    resize: none;
  
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .green-box {
    position: relative;
    min-width: 90px;
    max-width: 100%;
    height: 15px;
    background-color: rgba(108, 223, 108, 0.822);
    border: 2px solid rgb(0, 255, 0);

    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: var(--color-neutral-700);
    font-size: 1.1rem;
    margin-right: 0.6rem;
    outline: 0;
    padding: 0.1rem 0.3rem 0.2rem;
    position: relative;
    margin-top: 5px;
    font-size: 12px;
  }

  .blue-box{
    position: relative;
    min-width: 90px;
    max-width: 100%;
    height: 15px;
    background-color: rgba(74, 135, 228, 0.719);
    border: 2px solid rgb(0, 47, 255);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: var(--color-neutral-700);
    font-size: 1.1rem;
    margin-right: 0.6rem;
    outline: 0;
    padding: 0.1rem 0.3rem 0.2rem;
    position: relative;
    margin-top: 5px;
    font-size: 12px;
  }