<section *ngIf="isUserAuthorized(feedback.writtenByPersonId); else notAuthorized">
    <p >
        <input type="text" [(ngModel)]="feedback.content" [formControl]="feedbackContentControl" class="editable"> 
        <button class="custom-icon-button" title="Delete Feedback">
            <mat-icon aria-hidden="false" (click)="deleteFeedback()" aria-label="Example home icon" fontIcon="delete_forever"></mat-icon>
        </button>
        
    </p>
    

</section> 


<ng-template #notAuthorized> <p class="editable">{{feedback.content}}</p></ng-template>
<small class="right"> written by user with id{{feedback.writtenByPersonId}}</small>